<div class="container" ng-init="s = {};">
  <div class="block">
    <div class="title">PNG STEGANOGRAPHY</div>
    <div class="description">
      <p>This application allows embedding a file into a png or bmp image, returning a pair of png and bmp files, and extracting embedded files from them. Notice that, you will not receive bmp result if the input is a paletted png.</p>
      <p>You can drop files into the boxes or click on the boxes to select files. By choosing an image file on the left box of the EMBED section, you will see the maximum capacity for embedding file on the box beside. Under the boxes are options including password and algorithm. Password is optional. When you are ready, push the button on the right hand side (Embed or Extract) to make the request.</p>
      <p>All requests will be displayed as a list of waiting processes. You may make more requests while waiting for results.</p>
    </div>
  </div>
  <div class="block">
    <div class="title">EMBED</div>
    <div class="file">
        <div class="drop" file="cover">
          <div ng-show="!cover_name">Drop or choose a png file here</div>
          <img ng-show="cover_name" src="{{cover_src}}" image="cover_img"></img>
        </div>
        <div class="seperator"></div>
        <div class="drop" file="info">
          <div ng-show="notpaletted">Please choose a png on the right side box</div>
          <div ng-show="!notpaletted && !info_name">Drop or choose a file here</div>
          <div ng-show="!notpaletted && cover_max_info_size">Max file size is {{cover_max_info_size_prefix}} {{cover_max_info_size}} b</div>
          <div ng-show="!notpaletted && info_name">{{info_name}}</div>
        </div>
    </div>
    <div class="password">
      <span>Password: </span>
      <input type="text" ng-model="s.cover_password"/>
    </div>
    <div class="selections">
      <span class ="selection" 
        ng-class  ="{selected: $index === selections.embed_algorithm}" 
        ng-repeat ="algorithm in algorithms track by $index" 
        ng-click  ="selections.embed_algorithm = $index; updateCoverMaxInfoSize()">{{algorithm.name}}</span>
      <span class="button" ng-click="embed()">Embed</span>
    </div>
    <div class="result" ng-if="embed_tasks.length">
      <div class="title row">
        <span class="col width">width</span>
        <span class="col height">height</span>
        <span class="col size">size</span>
        <span class="col algorithm">algorithm</span>
        <span class="col link">download</span>
        <span class="col link"></span>
        <span class="col psnr">psnr</span>
      </div>
      <div class="row" 
        ng-repeat="task in embed_tasks track by $index"
        ng-mouseenter="s.preview = true; s.preview_emb_src = task.image_link; s.preview_org_src = task.org"
        ng-mouseleave="s.preview = false">
        <span class="col width">{{task.width}} px</span>
        <span class="col height">{{task.height}} px</span>
        <span class="col size">{{task.size}} b</span>
        <span class="col algorithm">{{task.algorithm}}</span>
        <span class="col link">
          <a href={{task.link}} ng-show="task.link">png</a>
          <span class="fail" ng-show="task.fail">{{task.fail}}</span>
          <span class="fail" ng-show="!task.fail && !task.link">Processing...</span>
        </span>
        <span class="col link">
          <a href={{task.bmpLink}} ng-show="task.bmpLink">bmp</a>
          <span ng-show="task.link && !task.bmpLink && !task.paletted">Processing...</span>
          <span ng-show="task.link && !task.bmpLink && task.paletted">Paletted!</span>
        </span>
        <span class="col psnr">{{task.psnr.toFixed(1)}}</span>
      </div>
      <div class="title row">
        <span class="col width"></span>
        <span class="col height"></span>
        <span class="col size"></span>
        <span class="col algorithm"></span>
        <span class="col link"></span>
        <span class="col link">average</span>
        <span class="col psnr">{{avg_psnr.toFixed(1)}}</span>
      </div>
    </div>
    <div class="file preview" ng-class="{'preview-show': s.preview}">
        <div class="drop" file="cover">
          <img src="{{s.preview_org_src}}"></img>
        </div>
        <div class="seperator"></div>
        <div class="drop" file="info">
          <img src="{{s.preview_emb_src}}"></img>
        </div>
    </div>
  </div>

  <div class="block">
    <div class="title">EXTRACT</div>
    <div class="file">
        <div class="drop" file="container">
          <span ng-if="!container_name">Drop or choose the png file here</span>
          <img ng-show="container_name" src="{{container_src}}" image="container_img"></img>
        </div>
    </div>
    <div class="password">
      <span>Password: </span>
      <input type="text" ng-model="s.decode_password"/>
    </div>
    <div class="selections">
      <span class ="selection" 
        ng-class  ="{selected: $index === selections.decode_algorithm}" 
        ng-repeat ="algorithm in algorithms track by $index" 
        ng-click  ="selections.decode_algorithm = $index">{{algorithm.name}}</span>
      <span class="button" ng-click="decode()">Extract</span>
    </div>
    <div class="result" ng-if="decode_tasks.length">
      <div class="title row">
        <span class="col width">width</span>
        <span class="col height">height</span>
        <span class="col link">link</span>
        <span class="col size">size</span>
      </div>
      <div class="row" ng-class="{fail: task.fail}" ng-repeat="task in decode_tasks track by $index">
        <span class="col width">{{task.width}} px</span>
        <span class="col height">{{task.height}} px</span>
        <span class="col link">
          <a href={{task.link}} ng-show="task.link" target="_blank">download</a>
          <span class="fail" ng-show="task.fail">{{task.fail}}</span>
          <span class="fail" ng-show="!task.fail && !task.link">Processing...</span>
        </span>
        <span class="col size">{{task.size}} <span ng-show="task.size">b</span></span>
      </div>
    </div>
  </div>
</div>
